:root {
    --one-background-color: #f80000;
    --two-background-color:#293133;
    --three-background-color:#5f5f5f; 
    --four-background-color:#f8f8ff;
    --five-background-color:#4169e;
    --six-background-color:#800080;
    --seven-background-color:#973e95;  
    --eight-background-color:#B6BBC4;
    --nine-background-color: #31304D;
}
body{
    background-image: url(/img/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
  

nav {
     display:flex;
     flex-direction: row;
     justify-content: center;
     gap:10px;
     
    }
    
    .topic {
        background-color: var(--nine-background-color);
        border-width: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        width:100px;
        height:50px;
    }
    
    
    
    a {
        color: var(--four-background-color);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: none;
    }
    
   header{
    color:#f8f8ff;
   }

   .container{
    width: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 5px;
    box-shadow: 0 20px 15px rgb(252, 252, 251);
    color: var(--four-background-color);
    
   }
