:root {
    --background-img: url(/img/homepage.jpg);
    --background2-img: url(/img/project.jpg);
}

body {
    background-image: var(--background-img);
    background-repeat: no-repeat;
    background-size: cover;
}

.body2 {
    background-image: var(--background2-img);
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    display: flex;

}

.btn {
    margin-top: auto;
}